.home-header {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.home-header span {
  background: linear-gradient(103.9deg, rgba(163, 14, 128, 0.709), rgb(69, 69, 214));
  padding: 10px;
  border-radius: 5px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}
.nav ul li {
  list-style: none;
  cursor: pointer;
  text-decoration: none;
}

.home-header h2 {
  color: #0080ff;
  font-size: 2rem;
}

.home-header h1 {
  font-size: 3rem;
  color: #0f52ba;
  margin-bottom: 1rem;
}

.home-header h1 span {
  color: #b0c4de;
}

.home-header p {
  color: #a9a9a9;
  font-weight: 500;
}
